.img-thumbnail {
    padding:0px;
    margin:0px;
}

.genre {
    position: absolute;
    z-index: 1;
    left: 16px;
    background-color: #E3F2FD;
    padding: 3px;
    border-radius: 0px 0px 8px 0px;
    font-style: italic;
    font-weight: bold;
}

.up:hover {
  transform: translateY(-0.25em);
}

.shaddow:hover {
        margin-top: 0px;
        -moz-box-shadow: 0px 0px 4px 1px grey;
        -webkit-box-shadow: 0px 0px 4px 1px grey;
        box-shadow: 0px 0px 4px 1px  grey;
    }
}
